<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.dao.EmployeeDao">

    <select id="selectById" resultType="com.hr.pojo.History">
        select * from employee where id = #{id}
    </select>

    <insert id="addHistory">
        insert into history values (
          #{id},#{employeeNumber},#{name},#{gender},#{birthday},
          #{telephone},#{email},#{address},#{photo},#{education},
          #{inTime},#{outTime},#{departmentNumber},#{positionNumber},
          #{status},#{home},#{notes}
        )
    </insert>

    <delete id="deleteEmpById">
        delete from employee where id = #{id}
    </delete>

    <select id="findMaxEmpNumber" resultType="java.lang.Integer">
        select max(employee_number) from employee;
    </select>

    <insert id="addEmp">
        insert into employee values (
        #{id},
        #{employeeNumber},
        #{name},
        #{gender},
        #{birthday},
        #{telephone},
        #{email},
        #{address},
        #{photo},
        #{education},
        #{departmentNumber},
        #{positionNumber},
        #{inTime},
        #{password},
        #{notes}
        )
    </insert>

    <select id="findByNumber" resultType="com.hr.pojo.Employee">
        select * from employee where employee_number = #{number}
    </select>

    <select id="findByNumberVO" resultType="com.hr.vo.EmployeePositionVO">
        select level from employee e join position p on
        e.position_number=p.position_number
        where e.employee_number = #{number};
    </select>

    <select id="findAll" resultType="com.hr.vo.EmpDeptPosVO">
        select e.id as empId,e.employee_number as employeeNumber,
        e.name as empName,gender,e.telephone as telephone,
        d.name as deptName,
        p.name as positionName,in_time
        from employee e join department d
        on e.department_number=d.department_number
        join position p on e.position_number = p.position_number
    </select>

</mapper>